doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/tailwind.css')
    link(rel="stylesheet", href="https://rsms.me/inter/inter.css")
  body(class="min-h-screen bg-gray-900")
    header
      nav(class="flex items-center justify-between p-6 mx-auto max-w-7xl lg:px-8")
        div(class="flex flex-1")
          div(class="flex gap-x-12")
            a(href="/" class="text-sm font-semibold leading-6 text-white") Home
            a(href="/about" class="text-sm font-semibold leading-6 text-white") About
            a(href="/concerts" class="text-sm font-semibold leading-6 text-white") List of concerts
            a(href="/artists" class="text-sm font-semibold leading-6 text-white") List of artists
        if token !== undefined && token !== null && token !== ""
          div(class="flex items-center mt-3 sm:ml-4 sm:mt-0")
            button(type="button" class="inline-flex items-center px-3 py-2 ml-3 text-sm font-semibold text-white bg-red-600 rounded-md shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600")
              a(href="/logout") Logout
        else
          button(type="button" class="inline-flex items-center px-3 py-2 ml-3 text-sm font-semibold text-white rounded-md shadow-sm bg-emerald-600 hover:bg-emerald-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600")
            a(href="/login") Login
      if token !== undefined && token !== null && token !== ""
        p(class="justify-center text-xs tracking-tight text-center text-white")
          | Psst, this is your JWT token: <br>#{token}
    div(class="absolute inset-x-0 flex justify-center overflow-hidden top-4 -z-10 transform-gpu blur-3xl" aria-hidden="true")
        div(class="aspect-[1108/632] w-[69.25rem] flex-none bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-25" style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)")
            div(class="px-6 py-24 isolate sm:py-32 lg:px-8")
                div(class="text-center")
                    h2(class="text-3xl font-bold tracking-tight white sm:text-4xl")= title